
/* defined colors */


/* Root of the scene */
.root {
}


/* Select elements by their CSS class ("styleClass" attribute) */
.formTitle {
  -fx-font-size: 50px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-font-family: "Monotype Corsiva";
}


/* Select element by its "fx:id" attribute */
#resultTable #birthDateColumn {
  -fx-alignment: center-right;
}

/* Select using the "selected" pseudo-selector */
.table-view .table-row-cell:selected {
  -fx-font-weight: bold;
  -fx-font-size: 130.0%;
}

.buttonSearch{
	-fx-text-fill: #FFF;
	-fx-background-color: #B3B2B2;
	-fx-border-color: #949494;
	-fx-border-radius: 4px;
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-text-fill:white;
}
.buttonSearch:hover {
	-fx-text-fill:white;
    -fx-background-color: #949494;
    -fx-border-color: #757474;
    -fx-font-weight: bold;
}
.buttonSearch:pressed {
	-fx-border-style: segments(1);
	-fx-border-color: white;
}
.panel{
    -fx-background-image: url("../img/gray.jpg");
}
